DB_NAME=wellspring-cms
DB_TEST_NAME=wellspring_test
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
PORT=8000
JWT_SECRET=wellspring-cms-jwt-secret
AWS_REGION=ap-south-1
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
S3_BUCKET=